/* @import 
url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Orbitron&family=Quicksand:wght@300&family=Red+Hat+Display:wght@900&display=swap'); */

body {
    margin: 0;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;;
}